body {
	width: 1440px;
	height: 997;

}

.content {
	width: 82%;
	height: 100%;
	margin: auto;
	



}

img {
	margin: 75px;
	vertical-align: middle;
	border: none;
	display: inline-block;

}

p {
	font-size: 20px;
	font-family: arial;
	margin-top: 30px;
	display: block;
}

.welcome{
	text-align: right;
	font-size: 20px;
	font-family: arial;
	
}

.footer {
	text-align: center;
	border-top-style: solid;
	font-family: arial;
}